.bienvenida, .content-between, .footer {
  text-align: center;
}

.bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.imagesLogo img {
  max-width: 500px;
  max-height: 100px;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(175deg) scale(1.4);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content {
  animation: rotateAnimation 0.75s linear;
}